<html lang="en">

<head>
</head>

<div id="new">
  <%- include('../books/nav') %>

    <h2>• SEARCH BY TITLE OR AUTHOR •</h2>
    <form action="/apiSearch" method="POST">
      <input type="text" name="search" id="" placeholder="enter title or author">

      <div id="title">
        <label for="title">TITLE</label>
        <input type="radio" id="title" value="title" name="keyword">
      </div>

      <div id="author">
        <label for="author">AUTHOR</label>
        <input type="radio" id="author" value="author" name="keyword">
      </div>

      <div id="submitBooks">
        <input type="submit" value="SEARCH">
      </div>

    </form>
    <%- include('../books/footer') %>
</div>

</html>